@import './node_modules/elemental/less/elemental.less'

:root {
  --color: #888;

}


body {
	background-color: var(--color);
}
h1 {
	transition: color 0.4s;
	&:hover {
		color: #fff;
	}
}